img {
    -ms-flex-negative:0;flex-shrink:0
}
h1 {
    margin:0px;
    padding:0px;
    font-family:Shrikhand;
    font-size:30px;
    color:#000
}
h2 {
    margin:0px;
    padding:0px;
    font-family:Roboto;
    font-size:25px;
    font-weight:700;
    color:#000
}
h3 {
    margin:0px;
    padding:0px;
    font-family:Roboto;
    font-size:18px;
    font-weight:400;
    color:#000
}
h4 {
    margin:0px;
    padding:0px;
    font-family:Roboto;
    font-size:18px;
    font-weight:100;
    color:#000
}
h5 {
     margin:0px;
     padding:0px;
     font-family:Roboto;
     font-size:15px;
     font-weight:100;
     color:#000
}
@-webkit-keyframes opacity_reverse {
        from {opacity:1}to{opacity:0}
}
@keyframes opacity_reverse {
        from {opacity:1}to{opacity:0}
}
@-webkit-keyframes opacity {
        from {opacity:0}to{opacity:1}
}
@keyframes opacity {
    from {opacity:0}to{opacity:1}
}
@-webkit-keyframes z-index {
    from {z-index:0}to{z-index:2}
}
@keyframes z-index {
    from {z-index:0}to{z-index:2}
}
@-webkit-keyframes scale-x {
    from {-webkit-transform:scaleX(0);
        transform:scaleX(0)}
        to {-webkit-transform:scaleX(1);
            transform:scaleX(1)}
}
@keyframes scale-x {
    from {-webkit-transform:scaleX(0);
        transform:scaleX(0)}
        to {-webkit-transform:scaleX(1);
            transform:scaleX(1)}
}
@-webkit-keyframes scale-y {
    from {-webkit-transform:scaleY(0);
        transform:scaleY(0)}
        to {-webkit-transform:scaleY(1);
            transform:scaleY(1)}
}
@keyframes scale-y {
    from {-webkit-transform:scaleY(0);
        transform:scaleY(0)}
        to {-webkit-transform:scaleY(1);
            transform:scaleY(1)}
}
@-webkit-keyframes translate-x {
    from {-webkit-transform:translate(0%);
        transform:translate(0%)}
        to {-webkit-transform:translate(-20%);
            transform:translate(-20%)}
}
@keyframes translate-x {
    from {-webkit-transform:translate(0%);
        transform:translate(0%)}
        to {-webkit-transform:translate(-20%);
            transform:translate(-20%)}
}
@-webkit-keyframes width-reduce {
    from {width:70%}
    to {width:50%}
}
@keyframes width-reduce {
    from {width:70%}
    to {width:50%}
}
body {
    height:100%;
    width:100%;
    margin:0px;
    padding:0px
}
body .loading_page {
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    height:100vh;
    width:100%;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    padding:15px;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
    -ms-flex-direction:column;
    flex-direction:column;
    -webkit-box-align:center;
    -ms-flex-align:center;
    align-items:center;
    -webkit-box-pack:center;
    -ms-flex-pack:center;
    justify-content:center;
    position:fixed;
    top:0px;
    left:0px;
    z-index:1;
    background-color:transparent;
    -webkit-animation:opacity_reverse 500ms 3000ms linear both;
    animation:opacity_reverse 500ms 3000ms linear both
}
body .loading_page h2 {
    width:185px;
    margin-bottom:15px;
    padding:15px;
    text-align:center;
    font-family:Shrikhand;
    color:#9356dc;
    background-color:#000;
    border-radius:30px;
    -webkit-animation:opacity 800ms 0ms linear both infinite alternate;
    animation:opacity 800ms 0ms linear both infinite alternate
}
body .loading_page .container {
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    width:100%;
    max-width:340px;
    padding:15px;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient:horizontal;
    -webkit-box-direction:normal;
    -ms-flex-direction:row;
    flex-direction:row;
    -webkit-box-align:center;
    -ms-flex-align:center;
    align-items:center;
    -ms-flex-pack:distribute;
    justify-content:space-around;
    background-color:#fff;
    border-radius:30px;
    -webkit-box-shadow:0px 0px 12px 0px rgba(0,0,0,.8);
    box-shadow:0px 0px 12px 0px rgba(0,0,0,.8)
}
body .loading_page .container .knife {
    height:300px;
    width:15px
}
body .loading_page .container .knife .lame {
    height:60%;
    width:100%;
    border-top-right-radius:15px;
    background-color:gray
}
body .loading_page .container .knife .body {
    height:40%;
    width:80%;
    background-color:brown
}
body .loading_page .container .plate_out {
    height:200px;
    width:200px;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-align:center;
    -ms-flex-align:center;
    align-items:center;
    -webkit-box-pack:center;
    -ms-flex-pack:center;
    justify-content:center;
    background-color:#a9a9a9;
    border-radius:50%
}
body .loading_page .container .plate_out .plate_in {
    height:185px;
    width:185px;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-align:center;
    -ms-flex-align:center;
    align-items:center;
    -webkit-box-pack:center;
    -ms-flex-pack:center;
    justify-content:center;
    position:relative;
    background-color:#d3d3d3;
    border-radius:50%
}
body .loading_page .container .plate_out .plate_in .food {
    font-size:80px
}
body .loading_page .container .plate_out .plate_in .hole {
    height:40px;
    width:40px;
    position:absolute;
    background-color:#d3d3d3;
    border-radius:50%
}
body .loading_page .container .plate_out .plate_in .hole_1 {
    top:40px;
    left:40px
}
body .loading_page .container .plate_out .plate_in .hole_2 {
    top:110px;
    left:75px
}
body .loading_page .container .plate_out .plate_in .hole_3 {
    top:50px;
    left:110px
}
body .loading_page .container .plate_out .plate_in .hole_1 {
    -webkit-animation:opacity 0ms 800ms linear both;
    animation:opacity 0ms 800ms linear both
}
body .loading_page .container .plate_out .plate_in .hole_2 {
    -webkit-animation:opacity 0ms 1600ms linear both;
    animation:opacity 0ms 1600ms linear both
}
body .loading_page .container .plate_out .plate_in .hole_3 {
    -webkit-animation:opacity 0ms 2400ms linear both;
    animation:opacity 0ms 2400ms linear both
}
body .loading_page .container .fork {
    height:300px;
    width:15px;
    position:relative
}
body .loading_page .container .fork .head {
    height:80px;
    width:100%;
    border-left:5px solid gray;
    border-bottom:5px solid gray;
    border-right:5px solid gray
}
body .loading_page .container .fork .body {
    height:100%;
    width:5px;
    position:absolute;
    top:0px;
    left:10px;
    background-color:gray
}
body header {
    height:80px;
    width:100%;
    position:fixed;
    top:0px;
    background-color:#fff;
    z-index:3;
    -webkit-box-shadow:0px 0px 12px 0px rgba(0,0,0,.5);
    box-shadow:0px 0px 12px 0px rgba(0,0,0,.5);
    -webkit-animation:z-index 0ms 3500ms linear backwards;
    animation:z-index 0ms 3500ms linear backwards
}
body header .header__container {
    height:100%;
    width:100%;
    max-width:845px;
    margin:0px auto;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient:horizontal;
    -webkit-box-direction:normal;
    -ms-flex-direction:row;
    flex-direction:row;
    -webkit-box-align:center;
    -ms-flex-align:center;
    align-items:center;
    -webkit-box-pack:center;
    -ms-flex-pack:center;
    justify-content:center;
    position:relative
}
body header .header__container .previous {
    position:absolute;
    left:15px;
    font-size:30px;
    text-decoration:none;
    color:#000
}
body header .header__container .previous .inactive {
    height:100%;
    display:none
}
body header .header__container .previous .active {
    height:100%;
    display:block
}
body header .header__container .logo {
    text-decoration:none
}
body .index_main {
    width:100%;
    position:relative;
    top:80px;
    left:0px;
    z-index:0;
    -webkit-animation:z-index 0ms 3500ms linear both;
    animation:z-index 0ms 3500ms linear both
}
body .index_main .utils {
    width:100%
}
body .index_main .utils__search_bar {
    width:100%;
    padding:15px 0px;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient:horizontal;
    -webkit-box-direction:normal;
    -ms-flex-direction:row;
    flex-direction:row;
    -webkit-box-align:center;
    -ms-flex-align:center;
    align-items:center;
    background-color:#e5e5e5
}
body .index_main .utils__search_bar i {
    width:-webkit-fit-content;
    width:-moz-fit-content;
    width:fit-content;
    margin-left:auto;
    font-size:20px
}
body .index_main .utils__search_bar h3 {
    width:-webkit-fit-content;
    width:-moz-fit-content;
    width:fit-content;
    padding:0px 10px;
    margin-right:auto
}
body .index_main .utils__explore_restaurant {
    width:100%;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
    -ms-flex-direction:column;
    flex-direction:column;
    -webkit-box-align:center;
    -ms-flex-align:center;
    align-items:center;
    -webkit-box-pack:center;
    -ms-flex-pack:center;
    justify-content:center;
    text-align:center;
    background-color:#f2f2f2
}
body .index_main .utils__explore_restaurant .container {
    width:100%;
    padding:30px 0px
}
body .index_main .utils__explore_restaurant .container h2 {
    margin:15px 0px
}
body .index_main .utils__explore_restaurant .container h3 {
    margin:15px 0px
}
body .index_main .utils__explore_restaurant .container input {
    margin:15px 0px;
    padding:15px;
    border:none;
    border-radius:30px;
    background:-webkit-gradient(linear, left bottom, left top, from(#9356DC), to(#FF79DA));
    background:-o-linear-gradient(bottom, #9356DC, #FF79DA);
    background:linear-gradient(to top, #9356DC, #FF79DA);
    color:#fff;
    font-size:25px;
    -webkit-box-shadow:0px 0px 12px 0px rgba(0,0,0,.5);
    box-shadow:0px 0px 12px 0px rgba(0,0,0,.5)
}
body .index_main .utils__explore_restaurant .container input:hover {
    background:-webkit-gradient(linear, left bottom, left top, from(#a16be0), to(#ff93e1));
    background:-o-linear-gradient(bottom, #a16be0, #ff93e1);
    background:linear-gradient(to top, #a16be0, #ff93e1);
    -webkit-box-shadow:0px 0px 12px 0px rgba(0,0,0,.8);
    box-shadow:0px 0px 12px 0px rgba(0,0,0,.8);
    outline:none
}
body .index_main .utils__explore_restaurant .container input:focus {
    outline:none
}
body .index_main .utils__function {
    width:100%;
    background-color:#fff
}
body .index_main .utils__function .container {width:100%;
    max-width:1200px;
    margin:0px auto;
    padding:15px 0px;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
    -ms-flex-direction:column;
    flex-direction:column;
    -webkit-box-align:center;
    -ms-flex-align:center;
    align-items:center;
    -ms-flex-pack:distribute;
    justify-content:
    space-around
}
@media all and (min-width: 700px) {
    body .index_main .utils__function .container {
        -webkit-box-orient:horizontal;
        -webkit-box-direction:normal;
        -ms-flex-direction:row;
        flex-direction:row;
        -ms-flex-wrap:wrap;
        flex-wrap:wrap
    }
}
body .index_main .utils__function .container__text {
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    width:100%;
    padding-left:15px
}
body .index_main .utils__function .container__block {
    width:280px;
    margin:20px 0px;
    padding:20px 0px;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient:horizontal;
    -webkit-box-direction:normal;
    -ms-flex-direction:row;
    flex-direction:row;
    -webkit-box-align:center;
    -ms-flex-align:center;
    align-items:center;
    position:relative;
    border-radius:15px;
    -webkit-box-shadow:0px 0px 12px 0px rgba(0,0,0,.5);
    box-shadow:0px 0px 12px 0px rgba(0,0,0,.5)
}
body .index_main .utils__function .container__block:hover {
    background-color:#f2eafb
}
body .index_main .utils__function .container__block:hover i {
    color:#9356dc
}
body .index_main .utils__function .container__block .block_number {
    height:25px;
    width:25px;
    margin-left:-12px;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-align:center;
    -ms-flex-align:center;
    align-items:center;
    -webkit-box-pack:center;
    -ms-flex-pack:center;
    justify-content:center;
    border-radius:50%;
    background-color:#9356dc
}
body .index_main .utils__function .container__block i {
    margin-left:12px;
    font-size:18px
}
body .index_main .utils__function .container__block .block_text {
    margin-left:12px
}
body .index_main .result {
    width:100%;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
    -ms-flex-direction:column;
    flex-direction:column;
    background-color:#f2f2f2
}
body .index_main .result .container {
    width:100%;
    max-width:1200px;
    margin:0px auto;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
    -ms-flex-direction:column;
    flex-direction:column;
    -webkit-box-align:center;
    -ms-flex-align:center;
    align-items:center;
    -webkit-box-pack:center;
    -ms-flex-pack:center;
    justify-content:center
}
body .index_main .result .container__title {
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    width:100%;
    padding-top:15px;
    padding-left:15px
}
body .index_main .result .container__result {
    width:100%;
    margin:0px auto;
    padding:15px 0px;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
    -ms-flex-direction:column;
    flex-direction:column;
    -webkit-box-align:center;
    -ms-flex-align:center;
    align-items:center;
    -webkit-box-pack:justify;
    -ms-flex-pack:justify;
    justify-content:space-between
}
@media all and (min-width: 700px) {
    body .index_main .result .container__result {
        -webkit-box-orient:horizontal;
        -webkit-box-direction:normal;
        -ms-flex-direction:row;
        flex-direction:row;
        -ms-flex-wrap:wrap;
        flex-wrap:wrap;
        -ms-flex-pack:distribute;
        justify-content:space-around
    }
}
body .index_main .result .container__result .restaurant {
    width:90%;
    height:300px;
    margin:15px 0px;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
    -ms-flex-direction:column;
    flex-direction:column;
    -webkit-box-align:center;
    -ms-flex-align:center;
    align-items:center;
    -webkit-box-pack:center;
    -ms-flex-pack:center;
    justify-content:center;
    border-radius:15px;
    -webkit-box-shadow:0px 0px 12px 0px rgba(0,0,0,.5);
    box-shadow:0px 0px 12px 0px rgba(0,0,0,.5)
}
@media all and (min-width: 700px) {
    body .index_main .result .container__result .restaurant {
        width:45%
    }
}
body .index_main .result .container__result .restaurant__img {
    height:80%;
    width:100%;
    position:relative
}
body .index_main .result .container__result .restaurant__img a {
    height:100%;
    width:100%;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    position:relative;
    text-decoration:none
}
body .index_main .result .container__result .restaurant__img a img {
    height:100%;
    width:100%;
    -o-object-fit:cover;
    object-fit:cover;
    border-radius:15px 15px 0px 0px
}
body .index_main .result .container__result .restaurant__img a .new_marker {
    height:-webkit-fit-content;
    height:-moz-fit-content;
    height:fit-content;
    width:-webkit-fit-content;
    width:-moz-fit-content;
    width:fit-content;
    padding:3px;
    opacity:0;
    position:absolute;
    top:12px;
    right:12px;
    background-color:#99e2d0
}
body .index_main .result .container__result .restaurant__img a .enabled {
    -webkit-animation:opacity 280ms 0ms linear alternate infinite both;
    animation:opacity 280ms 0ms linear alternate infinite both
}
body .index_main .result .container__result .restaurant__infos {
    height:20%;
    width:95%;
    padding:5px;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex
}
body .index_main .result .container__result .restaurant__infos a {
    height:100%;
    width:80%;
    text-decoration:none
}
body .index_main .result .container__result .restaurant__infos a .text {
    height:100%;
    width:100%;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal
    ;-ms-flex-direction:column;
    flex-direction:column;
    -webkit-box-pack:center;
    -ms-flex-pack:center;
    justify-content:center
}
body .index_main .result .container__result .restaurant__infos .logo {
    height:100%;
    width:20%;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-align:center;
    -ms-flex-align:center;
    align-items:center;
    -webkit-box-pack:center;
    -ms-flex-pack:center;
    justify-content:center
}
body .index_main .result .container__result .restaurant__infos .logo .empty {
    height:25px;
    width:25px;
    position:relative;
    opacity:1;
    z-index:1
}
body .index_main .result .container__result .restaurant__infos .logo .full {
    height:25px;
    width:25px;
    position:absolute;
    opacity:0;
    z-index:2
}
body .index_main .result .container__result .restaurant__infos .logo .full:hover {
    -webkit-animation:opacity 500ms 0ms linear both;
    animation:opacity 500ms 0ms linear both
}
body .index_main .result .container__result .restaurant__infos .logo .full:hover+.empty {
    -webkit-animation:opacity_reverse 500ms 0ms linear both;
    animation:opacity_reverse 500ms 0ms linear both
}
body .restaurant_main {
    height:-webkit-fit-content;
    height:-moz-fit-content;
    height:fit-content;
    width:100%;position:relative;
    top:80px;
    -webkit-animation:z-index 0ms 3500ms linear both;
    animation:z-index 0ms 3500ms linear both
}
body .restaurant_main .restaurant_photo {
    height:180px;
    width:100%;
    position:absolute;
    -webkit-transform-origin:bottom;
    -ms-transform-origin:bottom;
    transform-origin:bottom
}
@media all and (min-width: 700px) {
    body .restaurant_main .restaurant_photo {
        position:fixed;height:100vh
    }
}
body .restaurant_main .restaurant_photo img {
    height:100%;
    width:100%;
    -o-object-fit:cover;
    object-fit:cover
}
body .restaurant_main .menu {
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    width:100%;
    max-width:800px;
    margin:0px auto;
    padding:15px 15px 0% 15px;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
    -ms-flex-direction:column;
    flex-direction:column;
    position:relative;
    top:150px;
    background-color:#e5e5e5;
    border-radius:15px 15px 0px 0px
}
body .restaurant_main .menu .title {
    height:50px;
    width:100%;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient:horizontal;
    -webkit-box-direction:normal;
    -ms-flex-direction:row;
    flex-direction:row;
    -webkit-box-align:center;
    -ms-flex-align:center;
    align-items:center;
    -webkit-box-pack:justify;
    -ms-flex-pack:justify;
    justify-content:space-between
}
body .restaurant_main .menu .title__text {
    height:100%;
    width:80%;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-align:center;
    -ms-flex-align:center;
    align-items:center
}
body .restaurant_main .menu .title__text h2 {
    font-family:Shrikhand;
    white-space:nowrap;
    overflow:hidden;
    -o-text-overflow:ellipsis;
    text-overflow:ellipsis
}
body .restaurant_main .menu .title__logo {
    height:100%;
    width:20%;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-align:center;
    -ms-flex-align:center;
    align-items:center;
    -webkit-box-pack:center;
    -ms-flex-pack:center;
    justify-content:center
}
body .restaurant_main .menu .title__logo .empty {
    height:25px;
    width:25px;
    position:relative;
    opacity:1;
    z-index:1
}
body .restaurant_main .menu .title__logo .full {
    height:25px;
    width:25px;
    position:absolute;
    opacity:0;z-index:2
}
body .restaurant_main .menu .title__logo .full:hover {
    -webkit-animation:opacity 500ms 0ms linear both;
    animation:opacity 500ms 0ms linear both
}
body .restaurant_main .menu .title__logo .full:hover+.empty {
    -webkit-animation:opacity_reverse 500ms 0ms linear both;
    animation:opacity_reverse 500ms 0ms linear both
}
body .restaurant_main .menu .plat {
    height:-webkit-fit-content;
    height:-moz-fit-content;
    height:fit-content;
    width:100%;
    margin-top:15px;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
    -ms-flex-direction:column;
    flex-direction:column
}
body .restaurant_main .menu .plat__title {
    width:-webkit-fit-content;
    width:-moz-fit-content;
    width:fit-content;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
    -ms-flex-direction:column;
    flex-direction:column
}
body .restaurant_main .menu .plat__title div {
    height:3px;
    width:75%;
    background-color:#99e2d0
}
body .restaurant_main .menu .plat__container {
    width:100%;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
    -ms-flex-direction:column;
    flex-direction:column;
    -webkit-transform-origin:top;
    -ms-transform-origin:top;
    transform-origin:top
}
body .restaurant_main .menu .plat__container .item {
    height:80px;
    width:100%;
    margin-top:15px;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient:horizontal;
    -webkit-box-direction:normal;
    -ms-flex-direction:row;
    flex-direction:row;
    -webkit-box-align:center;
    -ms-flex-align:center;
    align-items:center;
    background-color:#fff;
    border-radius:15px;
    -webkit-animation:opacity 2000ms 3500ms linear both;
    animation:opacity 2000ms 3500ms linear both
}
body .restaurant_main .menu .plat__container .item:hover {
    cursor:pointer
}
body .restaurant_main .menu .plat__container .item:hover .item__name {
    -webkit-animation:width-reduce 200ms 0ms linear both;
    animation:width-reduce 200ms 0ms linear both
}
body .restaurant_main .menu .plat__container .item:hover .item__price {
    -webkit-animation:translate-x 200ms 0ms linear both;
    animation:translate-x 200ms 0ms linear both
}
body .restaurant_main .menu .plat__container .item:hover .item__logo {
    -webkit-animation:scale-x 200ms 0ms linear both;
    animation:scale-x 200ms 0ms linear both
}
body .restaurant_main .menu .plat__container .item__name {
    width:70%;
    padding:0px 5%;
    -webkit-transform-origin:left;
    -ms-transform-origin:left;
    transform-origin:left
}
body .restaurant_main .menu .plat__container .item__name h3 {
    white-space:nowrap;
    overflow:hidden;
    -o-text-overflow:ellipsis;
    text-overflow:ellipsis
}
body .restaurant_main .menu .plat__container .item__name h5 {
    white-space:nowrap;
    overflow:hidden;
    -o-text-overflow:ellipsis;
    text-overflow:ellipsis
}
body .restaurant_main .menu .plat__container .item__price {
    width:10%;
    padding:0px 5%;
    text-align:center
}
body .restaurant_main .menu .plat__container .item__logo {
    height:80px;
    width:10%;
    padding:0px 5%;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-align:center;
    -ms-flex-align:center;
    align-items:center;
    -webkit-box-pack:center;
    -ms-flex-pack:center;
    justify-content:center;
    position:absolute;
    right:0px;
    -webkit-transform:scale(0);
    -ms-transform:scale(0);
    transform:scale(0);
    -webkit-transform-origin:right;
    -ms-transform-origin:right;
    transform-origin:right;
    color:#fff;
    background-color:#99e2d0;
    border-radius:0px 15px 15px 0px;
    font-size:18px
}
body .restaurant_main .menu .plat__01 {
    -webkit-animation:scale-y 800ms 3500ms linear both;
    animation:scale-y 800ms 3500ms linear both
}
body .restaurant_main .menu .plat__02 {
    -webkit-animation:scale-y 800ms 4000ms linear both;
    animation:scale-y 800ms 4000ms linear both
}
body .restaurant_main .menu .plat__03 {
    -webkit-animation:scale-y 800ms 4500ms linear both;
    animation:scale-y 800ms 4500ms linear both
}
body .restaurant_main .menu input[type=button] {
    height:60px;
    width:210px;
    margin:30px auto;
    border:none;
    border-radius:30px;
    font-size:18px;
    color:#fff;
    background:-webkit-gradient(linear, left bottom, left top, from(#9356DC), to(#FF79DA));
    background:-o-linear-gradient(bottom, #9356DC, #FF79DA);
    background:linear-gradient(to top, #9356DC, #FF79DA);
    -webkit-box-shadow:0px 0px 12px 0px rgba(0,0,0,.5);
    box-shadow:0px 0px 12px 0px rgba(0,0,0,.5)
}
body .restaurant_main .menu input[type=button]:hover {
    background:-webkit-gradient(linear, left bottom, left top, from(#a16be0), to(#ff93e1));
    background:-o-linear-gradient(bottom, #a16be0, #ff93e1);
    background:linear-gradient(to top, #a16be0, #ff93e1);
    -webkit-box-shadow:0px 0px 12px 0px rgba(0,0,0,.8);
    box-shadow:0px 0px 12px 0px rgba(0,0,0,.8);
    outline:none
}
body .restaurant_main .menu input[type=button]:focus {
    outline:none
}
body .footer {
    width:100%;
    position:relative;
    background-color:#363636;
    -webkit-animation:z-index 0ms 3500ms linear both;
    animation:z-index 0ms 3500ms linear both
}
body .footer .container {
    width:90%;
    margin:0px auto;
    padding:15px
}
body .footer .container__title {
    width:100%;
    padding:15px 0px
}
@media all and (min-width: 700px) {
    body .footer .container__title {
        display:-webkit-box;
        display:-ms-flexbox;
        display:flex;
        -webkit-box-align:center;
        -ms-flex-align:center;
        align-items:center;
        -webkit-box-pack:center;
        -ms-flex-pack:center;
        justify-content:center
    }
}
body .footer .container__title a {
    text-decoration:none;
    cursor:pointer
}
body .footer .container__title a h3 {
    font-family:Shrikhand;
    color:#fff
}
body .footer .container__infos {width:100%
}
@media all and (min-width: 700px) {
    body .footer .container__infos {
        display:-webkit-box;
        display:-ms-flexbox;
        display:flex;
        -webkit-box-orient:vertical;
        -webkit-box-direction:normal;
        -ms-flex-direction:column;
        flex-direction:column;
        -webkit-box-align:center;
        -ms-flex-align:center;
        align-items:center;
        -webkit-box-pack:center;
        -ms-flex-pack:center;
        justify-content:center
    }
}
body .footer .container__infos a {
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient:horizontal;
    -webkit-box-direction:normal;
    -ms-flex-direction:row;
    flex-direction:row;
    -webkit-box-align:center;
    -ms-flex-align:center;
    align-items:center;
    text-decoration:none;
    cursor:pointer
}
@media all and (min-width: 700px) {
    body .footer .container__infos a {
    -webkit-box-pack:center;
    -ms-flex-pack:center;
    justify-content:center
    }
}
body .footer .container__infos a i {
    width:-webkit-fit-content;
    width:-moz-fit-content;
    width:fit-content;
    padding:5px 5px 5px 0px;
    color:#fff
}
body .footer .container__infos a h4 {
    width:-webkit-fit-content;
    width:-moz-fit-content;
    width:fit-content;
    color:#fff
}
body .footer .container__infos a {
    text-decoration:none;
    cursor:pointer
}
body .footer .container__infos a h4 {
    width:-webkit-fit-content;
    width:-moz-fit-content;
    width:fit-content;
    padding:5px 0px;
    color:#fff
}
body .index_footer {
    top:80px
}
body .restaurant_footer {
    top:230px
}